# Kredensial koneksi SQL Server (JANGAN commit file ini ke Git — sudah masuk .gitignore)
SQLSERVER_HOST=HOST
SQLSERVER_DB=NAME_DB
SQLSERVER_UID=USERNAME
SQLSERVER_PWD=PASSWORD

# --- AWS S3 (upload otomatis hasil .parquet) ---
AWS_ACCESS_KEY_ID=KEY_ID
AWS_SECRET_ACCESS_KEY=SECRET_KEY
AWS_REGION=REGION
S3_BUCKET_NAME=BUCKET_NAME
